/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
:root {
  --ui-bg: #f5f8ff;
  --primary-color: #1d63ed;
  --bg-highlight: #f4f4f5;
  --text-foreground: #71717a;
}

@layer tailwind-base, primereact, tailwind-utilities;
@import "primereact/resources/themes/lara-light-blue/theme.css";
@import "primeicons/primeicons.css";

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  font-size: 12px;
}

::placeholder {
  font-size: 12px;
}

.table-header {
  background-color: var(--bg-highlight);
}

.table-header th {
  padding: 0.5rem;
  color: var(--text-foreground);
  text-transform: uppercase;
  font-size: small;
}

.table-header th:first-child {

  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.table-header th:last-child {

  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}