@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 284 80% 44%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 3% 6%;
    --foreground: 0 0% 98%;

    --card: 224 15% 14%;
    --card-foreground: 0 0% 98%;

    --popover: 210 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 230 5% 22%;
    --muted-foreground: 230 5% 49%;

    --accent: 231 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 5% 12%;
    --input: 240 4% 18%;
    --ring: 231 48% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.home-card-bg {
  background-color: #2d313d;
}

.top-bar-bg {
  background-color: #1e2129;
}

.auth-container {
  background-image: linear-gradient(351deg, #06194a 5%, #00050d 24%);
  background-size: 100%;
}

.font-size-sm {
  font-size: 9px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}