/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
:root {
  /* --ui-bg: #f5f8ff; */
  --ui-bg: #f0f4f9;
  --primary-color: #345fb3;
  /* --primary-color: #556ee6; */
  --bg-highlight: #f2f3f7;
  --text-foreground: #71717a;
  --text-color-light: #202124;
}

@layer tailwind-base, primereact, tailwind-utilities;
/* @import "primereact/resources/themes/lara-light-cyan/theme.css"; */
@import "./prime.module.css";
@import "primeicons/primeicons.css";

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* color: #202124; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  font-size: 12px;
}

::placeholder {
  font-size: 12px;
}

/* .table-header {} */

.table-header th {
  border-bottom: 0.15rem solid white;
  border-right: 0.1rem solid white;
  border-left: 0.1rem solid white;
  color: var(--text-foreground);
  background-color: var(--bg-highlight);
  border-radius: 0.2rem;
  font-size: smaller;
}

.table-header th:first-child {
  border-right: 0.1rem solid white;
  border-left: none;
  color: var(--text-foreground);
  background-color: var(--bg-highlight);
  border-radius: 0.2rem;
  font-size: smaller;
}

.table-header th:last-child {
  border-left: 0.1rem solid white;
  border-right: none;
  color: var(--text-foreground);
  background-color: var(--bg-highlight);
  border-radius: 0.2rem;
  font-size: smaller;
}

.pb-logout {
  background: #f8f9fa;
  border-top: 1px solid #f8f9fa;
  bottom: 0;
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 2px 8px 3px;
  padding: 24px 28px;
  width: 100%;
  box-sizing: inherit;
}